ELearning_Platform.API/*.json
ELearning_Platform.API/Properties
ELearning_Platform.API/bin
ELearning_Platform.API/obj

ELearning_Platform.Infrastructure/bin
ELearning_Platform.Infrastructure/obj
ELearning_Platform.Application/bin
ELearning_Platform.Application/obj

ELearning_Platform.Domain/bin
ELearning_Platform.Domain/obj

ELearning_Platform.IntegrationTest/bin
ELearning_Platform.IntegrationTest/obj

ELearning_Platform.UnitTest/obj
ELearning_Platform.UnitTest/obj
.vs